html { height: 100%; }

body { 
	background-color: #2b2b2b;
	color: #f9c56d;
	height: 100%;
	/*font-family: Monaco, monospace; */
}

h2,
h3 {
	margin-top:  0;
	padding-top: 20px;
}

#ini,
#track,
#footer {
	margin: 0 auto;
	max-width: 600px;
}

#ini,
#track {
	margin-bottom: -60px;
	min-height:    100%;
}

#track { display: none; }

#footer { 
	color:  #666;
	font-size: smaller;
	line-height: 80px;
	vertical-align: bottom;
	height: 50px;
	overflow: hidden;
}

#footer .credits {
	background: url('../../assets/lacan-gray.png') no-repeat top right;
	background-size: 50px 50px;
	float: right;
	padding-right: 60px;
}

.credits a:hover {
	text-decoration: none;
}

#chrName,
#statusName  { width: 60%; }
#chrSpeed,
#statusDuration { width: 15%; }

#characterList { list-style-position: inside; }

#characterList .badge {
	float:  right;
	margin: 0 10px;
}

#characterList > li:first-child { color: #5cb85c; }

#characterList > li { 
	margin-bottom: 1em;
	position:      relative;	
}

#cooldown { width: 50px;}

.form-inline input,
.form-inline .btn { margin-bottom: 1em; }


.chrName { cursor: pointer; }

.statii { 
	color:           #f9c56d;
	display:         none;
	font-size:       smaller;
	list-style-type: none;
	margin-top:      1em;
}

#characterList .statii .badge {
	float:     left;
	font-size: smaller;
	width:     25px;
}

li.status { 
	margin:   5px 0;
	position: relative;
}

li.status:hover {
	color: #d43f3a;
	cursor: pointer;
	opacity: 0.8;
	text-decoration: line-through;
}

li.status:hover::after {
	background-color: #d9534f;
	border-radius:    10px;
	color:            white;
	content:          "\00d7";
	display:          inline-block;
	font-weight:      bold;
	line-height:      1;
	padding:          3px 0px;
	text-align:       center;
	vertical-align:   middle;
	white-space:      nowrap;
	width:            25px;
	position:         absolute;
	left:             10px;
	bottom:           0;
}

h3 .badge { 
	font-size:     inherit;
	margin-bottom: 5px;
}

.badge.info { background-color: #357ebd; }
.badge.success { background-color: #5cb85c; }
.badge.danger { background-color: #d9534f; }

.caret { border-top-color: inherit; }

.modal { color: #2b2b2b; }

.modal-header { margin-bottom: 30px; }

.modal-body { padding: 0 20px; }

.modal-title { display: inline-block; }
.modal-header .alert {
	display: none;
	margin:  0 20px;
}